<!--<div class="container mt-5">
    <h3 class="text-primary text-center">Juegos Disponibles</h3>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mt-3" *ngFor="let game of games">
            <div class="card" style="width : 100%;">
                <img src="{{game.image}}" class="card-img.top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">{{game.title}}</h5>
                    <p class="card-text">{{game.description}}</p>
                </div>
            </div>

            <a routerLink="/gamesSingle/{{games.id}}" class="btn btn-primary btn-block">Ver mas</a>

        </div>
    </div>
</div>-->

<body>

    <div class="hero">
        <div class="container hero__main">
            <div class="hero__textos">
                <h1 class="title">La mejor <span class="title__active">Experiencia Digital</span> <span class="point">.</span></h1>
                <p class="copy">Nos encargamos de llevar tu idea al <span class="copy__active">siguiente nivel</span></p>
                <a href="#" class="cta">Agenda una demo</a>

            </div>
            <img src="../../../../assets/img/mockup-2.png" class="mockup">
        </div>
    </div>


    <main>
        <section class="services">
            <div class="container">
                <h2 class="subtitle">Nuestros Servicios <span class="point">.</span></h2>
                <p class="copy__section">Ofrecemos las soluciones perfectas para la revolucion digital</p>
                <article class="container-cards  ">
                    <div class="card">
                        <img src="../../../../assets/img/phone-1.jpg" class="card__img">
                        <div class="cards__text">
                            <p class="card__list">Especialistas en diseño UX/ UI</p>
                            <h3 class="card__title">Web app <span class="point">.</span></h3>
                            <p class="card__copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, explicabo! Nam natus repellat in fugit?</p>
                            <a href="" class="card__button">Comienza Tu proyecto</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../../assets/img/pc-white.jpg" class="card__img">
                        <div class="cards__text">
                            <p class="card__list">Especialistas en diseño UX/ UI</p>
                            <h3 class="card__title">Diseño Web <span class="point">.</span></h3>
                            <p class="card__copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, explicabo! Nam natus repellat in fugit?</p>
                            <a href="" class="card__button">Comienza Tu proyecto</a>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../../../../assets/img/ecommerce-13.jpg" class="card__img">
                        <div class="cards__text">
                            <p class="card__list">Especialistas en diseño UX/ UI</p>
                            <h3 class="card__title">E-commerce<span class="point">.</span></h3>
                            <p class="card__copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, explicabo! Nam natus repellat in fugit?</p>
                            <a href="" class="card__button">Comienza Tu proyecto</a>
                        </div>
                    </div>

                </article>
            </div>
        </section>
        <section class="projects container">
            <h2 class="subtitle">Proyectos Recientes<span class="point">.</span></h2>
            <p class="copy__section  ">Hemos colaborado con marcas reconocidas a nivel mundial</p>
            <article class="container-bg">
                <div class="card">

                    <div class="cards__text">
                        <p class="card__title">Diseño Web</p>
                        <h3 class="card__date">12 de septiembre 2020 <span class="point">.</span></h3>
                        <p class="card__copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, explicabo! Nam natus repellat in fugit?</p>
                        <a href="" class="card__button">Comienza Tu proyecto</a>
                    </div>
                </div>
                <div class="background">
                    <img src="../../../../assets/img/realidad-virtual.jpg" class="background__img">
                    <div class="background__text">
                        <h3 class="background__title">La educacion en linea</h3>
                        <div class="background__copy">La realidad aumentada transformara por completo la educacion</div>
                    </div>
                </div>
                <div class="card">

                    <div class="cards__text">
                        <p class="card__title">Diseño Web</p>
                        <h3 class="card__date">12 de septiembre 2020 <span class="point">.</span></h3>
                        <p class="card__copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, explicabo! Nam natus repellat in fugit?</p>
                        <a href="" class="card__button">Comienza Tu proyecto</a>
                    </div>
                </div>
                <div class="background">
                    <img src="../../../../assets/img/desktop-black.jpg" class="background__img">
                    <div class="background__text">
                        <h3 class="background__title">La educacion en linea</h3>
                        <div class="background__copy">La realidad aumentada transformara por completo la educacion</div>
                    </div>
                </div>
            </article>

        </section>

        <section class="testimony">
            <div class="container">
                <h2 class="subtitle">Clientes Satisfechos<span class="point">.</span></h2>
                <p class="copy__section ">Cientos de empresas confian en nosotros</p>
                <div class="testimony-container">
                    <div class="testimony_card  ">
                        <img src="../../../../assets/img/person-1.jpg" class="testimony__img">
                        <div class="testimony__copy">
                            <i class='bx bxl-google testimony__logo'></i>
                            <div class="testimony__info">
                                <h3 class="testimony__name">Andres Garcia</h3>
                                <p class="testimony__positions">Director Google Mexico</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimony_card  ">
                        <img src="../../../../assets/img/person-2.jpg" class="testimony__img">
                        <div class="testimony__copy">
                            <i class='bx bxl-apple testimony__logo'></i>
                            <div class="testimony__info">
                                <h3 class="testimony__name">Alejandro Sanchez</h3>
                                <p class="testimony__positions">Director Apple Argentina</p>
                            </div>
                        </div>
                    </div>

                    <div class="testimony_card  ">
                        <div class="testimony__text">

                            <img src="../../../../assets/img/google_logo.png" class="google__logo testimony__img">
                            <p class="testimony__history">
                                "Desde que empezamos a trabajar con Templone comenzamos a optener resultados increibles. Ahora hemos llegado a un mayor numero de clientes potenciales"
                            </p>
                            <div class="testimony__copy testomony__copy--modifier">
                                <img src="../../../../assets/img/person-1.jpg" class="testimony__logo logo--picture">
                                <div class="testimony__info">
                                    <h3 class="testimony__name">Alejandro Sanchez</h3>
                                    <p class="testimony__positions">Director Apple Argentina</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="email container container--modifier">
            <h2 class="subtitle subtitle--modifier  ">Somos tu mejor opcion para adoptar la trannformacion digital <span class="point">.</span></h2>
            <p class="copy__section copy__section--modifier">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam minus eos ipsum assumenda nulla a. Sint laborum veritatis repellat soluta?Repudiandae, explicabo! </p>

            <div class="check">
                <div class="check-item">
                    <i class='bx bx-check'></i>
                    <div class="check__numbers">
                        <p class="check__number">+200</p>
                        <p class="check__copy">Proyectos Exitosos</p>
                    </div>
                </div>
                <div class="check-item">
                    <i class='bx bx-check  '></i>
                    <div class="check__numbers">
                        <p class="check__number">+200</p>
                        <p class="check__copy">Proyectos Exitosos</p>
                    </div>
                </div>
                <div class="check-item">
                    <i class='bx bx-check  '></i>
                    <div class="check__numbers">
                        <p class="check__number">+200</p>
                        <p class="check__copy">Proyectos Exitosos</p>
                    </div>
                </div>
            </div>
            <form class="newletter ">
                <input type="text" class="newletter__input" placeholder="Ingresa tu email">
                <input type="submit" class="newletter__submit" value="Comienza hoy">
            </form>
        </section>
    </main>

    <footer class="footer">

        <div class="container footer__captions">

            <section class="download  ">
                <h3 class="title__footer ">
                    ¿Descarga nuestra app
                </h3>
                <div class="download__app  ">
                    <div class="download__item">
                        <i class='bx bxl-play-store download__logo'></i>
                        <h4 class="download__title">Play Store</h4>
                    </div>
                    <div class="download__item">
                        <i class='bx bxl-apple download__logo'></i>
                        <h4 class="download__title">App Store</h4>
                    </div>

                </div>
                <div class="footer__copy  ">
                    <p class="copyright">FlaRG &copy; 2020 Todos los derechos reservados</p>

                    <a href="#" class="politica__privacidad politica__privacidad--margin">Politica de privacidad</a>
                    <a href="#" class="politica__privacidad politica__privacidad--margin">Terminos y condiciones</a>
                </div>
            </section>

            <section class="get-email ">
                <h3 class="title__footer ">
                    ¿Estas listo para trabajar con nosotros?
                </h3>
                <form class="newletter newletter--modifier  ">
                    <input type="text" class="newletter__input" placeholder="Ingresa tu email">
                    <input type="submit" class="newletter__submit" value="Comienza hoy">
                </form>

                <div class="socialmedia ">
                    <p class="socialmedia__legend">Siguenos en:</p>
                    <i class='socialmedia__icon bx bxl-facebook-circle'></i>
                    <i class='socialmedia__icon bx bxl-linkedin-square'></i>
                    <i class='socialmedia__icon bx bxl-twitter'></i>
                    <i class='socialmedia__icon bx bxl-instagram'></i>
                    <i class='socialmedia__icon bx bxl-github'></i>
                </div>

            </section>

        </div>
        <div class="contact">
            <div class="item__contact ">
                <i class='bx bxs-copyright contact__icon'></i>
                <h3 class="contact__title">FlaG Desing</h3>

            </div>
            <div class="item__contact  ">
                <i class='bx bx-mail-send contact__icon'></i>
                <h3 class="contact__title">flaviaarg685@gmail.com</h3>

            </div>
            <div class="item__contact  ">
                <i class='bx bxs-edit-location contact__icon'></i>
                <h3 class="contact__title">Buenos aires, CABA</h3>

            </div>
            <div class="item__contact item__contact--gold ">
                <i class='bx bxs-chat contact__icon contact__icon--modifier'></i>
                <h3 class="contact__title">Contactanos ahora</h3>

            </div>
        </div>
    </footer>

</body>