* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: 'Roboto', sans-serif;
}

.container-12 {
    width: 100%;
    min-height: 100vh;
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 100%;
    max-width: 820px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact-form {
    background-color: #2193b0;
    position: relative;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #2193b0);
    position: absolute;
}

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #2193b0;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
}

.title {
    color: #fff;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

label {
    display: none;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.btn {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 1.1rem;
    color: #1abc9c;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 0;
}

.btn:hover {
    background-color: transparent;
    color: #fff;
}

.tree {
    font-size: 2rem;
    color: #2193b0;
    margin-left: 20px;
    margin-right: 1rem;
}

.contact-info {
    padding: 2.1rem 2.2rem;
    position: relative;
}

.title2 {
    color: #2193b0;
}

.text {
    color: #333;
    margin: 1.5rem 0 2rem 0;
}

.information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 1rem;
}

.social-media {
    padding: 2rem 0 0 0;
}

.social-media p {
    color: #333;
}

.social-icon {
    display: flex;
    margin-top: 0.7rem;
}

.social-icon a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #1abc9c, #2193b0);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}

.social-icon a:hover {
    transform: scale(1.05);
}

.contact-info::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 100px;
    border: 22px solid #1abc9c;
    border-radius: 50%;
    bottom: -57px;
    right: 50px;
    opacity: 0.3;
}

.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #2193b0, #159b80);
    bottom: 39%;
    right: 50%;
    transform: translate(-40%, 38%);
}

.big-circle2 {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #2193b0, #159b80);
    bottom: 10%;
    left: 62%;
    transform: translate(40%, 38%);
}

@media(max-width:850px) {
    .form {
        grid-template-columns: 1fr;
    }
    .contact-info:before {
        bottom: initial;
        top: -55px;
        right: 65px;
        transform: scale(0.95);
    }
    .big-circle {
        display: none;
    }
    .big-circle2 {
        display: none;
    }
}

@media (max-width: 480px) {
    .container-12 {
        padding: 1.5rem;
    }
    .contact-info:before {
        display: none;
    }
}